<!doctype html>
<html lang="en">
<head th:replace="~{fragments :: headTag ('Home Page')}"></head>
<body class="container">
<nav th:replace="~{fragments :: navTag}"></nav>

<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-touch="true" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <iframe class="d-block w-100" alt="..."
                    width="560" height="400" th:src="${carousel1}"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <!--                    <img src="..." class="d-block w-100" alt="...">-->
        </div>
        <div class="carousel-item">
            <iframe class="d-block w-100" alt="..."
                    width="560" height="400" th:src="${carousel2}"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
        <div class="carousel-item">
            <iframe class="d-block w-100" alt="..."
                    width="560" height="400" th:src="${carousel3}"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
<div id="samithi-overview">
    <div id="about_sathyasaibaba">
        <h4>Who is Sri Sathya Sai Baba?</h4>
        <p>To a spiritual aspirant, Sai Baba is the divine master par excellence; to a rationalist, He is the noblest
            humanitarian on earth; to thousands of modern youth, He is the leader with a dynamic vision and a colossus
            of inspiration; to a devotee, He is simply divinity in human form; and to everyone who has had the
            opportunity to behold Him, He is Pure Love Walking on Two Feet.</p>
        <p>Sri Sathya Sai Baba was born on November 23rd 1926 in a tiny hamlet called Puttaparthi in the southern part
            of India. He lived a life dedicated to service and spiritual upliftment of humanity. Under His guidance,
            educational institutions and super speciality hospitals were established that provide the highest quality of
            service with no distinction made on the recipient of the service. And all of this service is provided
            completely free to all.</p>
    </div>
    <br>
    <div id="about_sathyasaisamithi">
        <h4>What is Sri Sathya Sai Seva Samithi?</h4>
        <p>Inspired by Sathya Sai Baba, our center spreads His universal message of pure love and selfless service
            through its center activities. Members of this center are united by a common bond of love for God and the
            goals of selfless service, self-transformation and self-realization. Center activities include study of the
            teachings of Sathya Sai Baba and the sacred literature of all religions, group devotional singing,
            meditation, education in human values, and selfless service to the needy with love and compassion.
            Membership includes people from all walks of life and backgrounds. Sai Center programs and activities are
            universal and compatible with all the major religions. There is never a fee for membership in a Sathya Sai
            Baba Center, and donations are never solicited.</p>
    </div>
</div>
<br>
<div class="text-center">
    <a href="#">Recent Posts</a>
</div>

<div th:replace="~{fragments :: footerTag}"></div>
<script th:replace="~{fragments :: jsTag}"></script>
</body>
</html>