<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: headTag ('Devotional Overview')}"></head>
<body class="container">
<nav th:replace="~{fragments :: navTag}"></nav>

<div class="alert alert-warning text-center" role="alert">
    <b>Devotional Overview</b>
</div>
<br>
<div id="quote">
    <p>The Organizations named after Me are not to be used for publicizing My Name or creating a new cult around My
        worship. They must try to spread interest in recitation of God’s Name, meditation and other spiritual exercises
        that lead man God ward. They must demonstrate the joy derivable from devotional singing and remembering the
        Lord’s Name, the peace that one can draw from good company. The main objective of the Sathya Sai Organization is
        to help humanity recognize its inherent divinity.</p>
    <p class="text-end">– Sri Sathya Sai Baba [February 23rd, 1968]</p>
    <p>Baba says, “Wherever you are, develop divine feelings and a steady mind. Divinity pervades the entire universe.
        Verily all this is Brahman (the Supreme Self). God is not confined to a particular place. He is with you, in
        you, around you. Just as the eyelid protects the eye, He protects you always.”</p>
    <p>In order achieve this objective, the Devotional wing of the Sri Sathya Sai Baba Organization facilitates
        spiritual activities such as devotional singing, weekly readings from Sai literature, study circle and
        reflection, meditation, and workshops on spiritual topics, all in the spirit of equality and unity of all faiths
        known to mankind.</p>
    <p>Sathya Sai Baba advises us that it is our duty to take up spiritual activities and demonstrate by example to the
        younger generation that spiritual effort and study have made us more joyful and courageous in the adventure
        called life. Sai Baba teaches us that it is the responsibility of all pious men and women, parents and
        grandparents, to demonstrate in and through their lives that piety is not weakness but strength; that it opens
        up a vast spring of power and that a person with faith in God can overcome obstacles much more easily than a
        person who does not have faith in God.</p>
    <p>In essence, Devotion according to Baba is “the ability to treat joy and grief, gain and loss, with equal
        fortitude”.</p>
    <p>The Nine Forms of Devotion</p>
    <p>Baba teaches us that one could connect with one’s chosen name of God using any of the nine forms of devotion.
        They are:</p>
    <p>
    <ol>
        <li>Listening to stories about God (sravanam)</li>
        <li>Singing the name (kirtanam)</li>
        <li>Remembrance of God (vishnu-smaranam)</li>
        <li>Serving the holy feet (paada-sevanam)</li>
        <li>Reverence toward nature and all life (vandanam)</li>
        <li>Worship (archanam)</li>
        <li>Dedication, servitude (daasyam)</li>
        <li>Befriending (sneham)</li>
        <li>Surrender to the Self (atma-nivedanam)</li>
    </ol>
    </p>
</div>

<div th:replace="~{fragments :: footerTag}"></div>
<script th:replace="~{fragments :: jsTag}"></script>
</body>
</html>