<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: headTag ('Contact Us')}"></head>
<body class="container">
<nav th:replace="~{fragments :: navTag}"></nav>

<div class="container my-3">
<!--    <h1 class="text-center mb-sm-4 display-1">Contact</h1>-->
    <div class="row">
        <div class="col-12 col-md-6">
            <h2>Address:</h2>
            <address>
                Satya Sai Hrudaya Mandir,<br>
                Sakhinetipalli, AP,<br>
                India - 533251.<br>
                <i class="fas fa-fw fa-phone"></i> <a href="tel:+919912359888">+91-99123-59888</a><br>
                <i class="fas fa-fw fa-envelope"></i> <a href="mailto:info@domain.com">info@domain.com</a>
            </address>
        </div>
        <div class="col-12 col-md-6">
            <h2>Opening hours:</h2>
            <p>
                Monday-Thursday: <span class="float-end">10 am - 6 pm</span><br>
                Friday-Saturday: <span class="float-end">10 am - 10 pm</span><br>
                Sunday: <span class="float-end">10 am - 8 pm</span><br>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 mb-3">
            <h2>Send us a message:</h2>
            <form th:action="@{/contact/add}" th:object="${contact}" method="post">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Enter name here" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="Enter email here" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="mb-3">
                            <label for="telephone" class="form-label">Telephone</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                <input type="tel" id="telephone" th:field="*{telephone}" class="form-control" name="telephone" placeholder="Enter phone number here" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="mb-3">
                            <label for="department" class="form-label">Subject:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-home"></i></span>
                                <select id="department" th:field="*{subject}" class="form-select" aria-describedby="department-help-block" required>
                                    <option value="">- select here -</option>
                                    <option value="General">General</option>
                                    <option value="Schedule">Schedule</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <small id="department-help-block" class="form-text">Please select the subject of your message.</small>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message:</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-pencil-alt"></i></span>
                        <textarea id="message" th:field="*{message}" class="form-control" name="message" rows="5" placeholder="Write your message here..." required></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <h2>Where to find us:</h2>
            <div class="ratio ratio-4x3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3827.0110744940785!2d81.71081668329694!3d16.42426394384686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a37d9b67fbec0f3%3A0x5c3529b3bfe87357!2sSatya%20sai%20Hrudaya%20mandir!5e0!3m2!1sen!2sus!4v1738296526754!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments :: footerTag}"></div>
<script th:replace="~{fragments :: jsTag}"></script>
</body>
</html>